.question-form-container {
  margin-top: 10px;
}

.QuestionList {
  list-style: none;
  padding: 0;
}

.QuestionList > li {
  margin: 10px 0px 10px;
}

li.list-group-item:hover {
  background-color: #DF691A;
  cursor: pointer;
}
